body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  flex: 1;
}
.header {
  display: flex;
  background: darkmagenta;
  color: white;
  margin: px;
  padding: 15px;
  align-items: center;
  font-weight: 900;

}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex: 1 0 300px;
  display: flex;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  font-size: 24px;
}
a {
  text-decoration: none;
  color: white;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards{
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex: 1;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 32px;
  margin: 15px;
  width: 300px;
}